<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>Hello</title>
    <style type="text/css" media="screen">
      body {
        background-color: #<%= @customer.color %>;
      }
    </style>
  </head>
  <body>
    hello <%= @customer.name %>
  </body>
</html>
